* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #d9e6d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 800px;
    background: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #4f704f;
    padding: 10px 0;
    color: #fff;
  }
  
  .info {
    text-align: center;
  }
  
  .label {
    font-size: 0.9rem;
  }
  
  .value {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .game-area {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 400px;
    position: relative;
  }
  
  .bubble {
    width: 50px;
    height: 50px;
    background-color: #4f704f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 500;
    }

    .bubble:hover{
        background-color: rgb(72, 104, 72);
        cursor: pointer;
    }
  